@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="top-row px-4">
        <h1>F1 Weather Predictor</h1>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
